---
layout: default
title: AndyMOTE User Guide
---
    <div class="container content">
      {% assign prev_page = "Edit Devices" %}
      {% assign prev_href = "editdevice.html" %}
      {% assign next_page = "Edit Device Key" %}
      {% assign next_href = "editdevicekey.html" %}
      {% include usergnav.html %}

      <div class="row">
        <div class="col-lg-7">
          <h2 class="page-title">Device Remote</h2>
          <p>The Device Remote screen opens when you click on an Device Item in the <a href="navigation.html">Navigation Menu</a></p>
          <p>From here you can:</p>
          <ul id="bullets">
            <li>Press Keys to send the appropriate Infra-Red Command(s) to Devices,</li>
            <li>Invoke the <a href="navigation.html">Navigation Menu</a></li>
            <li>Edit the remote layout* (Press <img src="assets/images/edit.png"> at top right of screen)</li>
          </ul>
          <p>*Edit Mode is described below.</p>
          <p>When transmission is in progress this is indicated by a <img src="assets/images/wifi.png"> icon at the top left of the remote.</p>
        </div>
        <div class="col-lg-5">
          <div class="row spacer2 d-none d-lg-block"></div>
          <p class="aligncenter"><img src="assets/images/31_device.png" class="img-fluid img80" id="settings" alt=""></p>
        </div>
      </div>

      <!-- EDIT DEVICE REMOTE -->
      <div class="row">
        <div class="col-lg-7 order-lg-12">
          <h2 class="page-title">Edit Mode - Device Remote</h2>
          <p>In edit mode; if you click on a Key, a popup menu will appear offering three options:</p>
          <h4>Move</h4>
          <p>Moving Keys is undertaken by either exchanging the positions of two Keys or moving a Key into an empty position indicated by <img src="assets/images/nokey20.png">. Select the Move option then click on the destination position you want.</p>
          <h4>Edit Key</h4>
          <p>Select the Edit Key option to <a href="editdevicekey.html">Edit the Key</a>.</p>
          <h4>Insert Row Above</h4>
          <p>To create space on the Remote select Insert Row. Note that AndyMOTE will automatically remove any completely empty rows when you finish editing.</p>
          <div class="spacer"></div>
          <p>When you have finished editing push the check <img src="assets/images/done20.png"> at the top right of the screen.</p>
        </div>
        <div class="col-lg-5">
          <div class="row spacer2 d-none d-lg-block"></div>
          <p class="aligncenter"><img src="assets/images/16_editLayout.png" class="img-fluid img80" id="settings" alt=""></p>
        </div>
      </div>
      {% include usergnav.html %}
    </div>
