---
layout: default
title: AndyMOTE User Guide
---
    <div class="container content">
      {% assign prev_page = "Add Kodi Device" %}
      {% assign prev_href = "kodidevices.html" %}
      {% assign next_page = "Device Remotes" %}
      {% assign next_href = "deviceremote.html" %}
      {% include usergnav.html %}

      <div class="row">
        <div class="col-lg-7">
          <h2 class="page-title">Edit Device</h2>
          <p>To edit a Device press the <img src="assets/images/edit.png"> button to the right of the required item on the <a href="navigation.html">Navigation Menu</a>; this will open a screen similar to that shown in the figure.</p>
          <p>Here you can:</p>
          <ul id="bullets">
            <li>Change the name of the Device,</li>
            <li>Change or remove the icon that should be displayed in the <a href="navigation.html">Navigation Menu</a>,</li>
            <li>Set the On/Off state of the Device.</li>
            <li>Change the Default <a href="devices.html#transmitduration">Transmit Duration</a> of Keys for this remote.</li>
          </ul>
          <p>Notes:</p>
          <ol>
            <li>Changing the Device On/Off state does not control any devices; this command merely changes the internally stored state for the Device (see <a href="navigation.html#deviceonoff">Device On/Off States</a>)</li>
            <li>Changing the Default Transmit Duration will modify this setting for every key on the remote (even those you may have changed manually)</li>
           </ol> 
          <p>Once you have completed your modifications, press the <i>Done</i> button.</p>
          <p>Pushing the <i>Back</i> button at any time will cancel the operation.</p>
        </div>
        <div class="col-lg-5">
          <div class="row spacer6 d-none d-lg-block"></div>
          <p class="aligncenter"><img src="assets/images/30_editDevice.png" class="img-fluid img80" id="settings" alt=""></p>
        </div>
      </div>
	  
	        <!-- EDIT KODI DEVICE -->
      <div class="row">
        <div class="col-lg-7 order-lg-12">
          <h2 class="page-title">Edit Kodi Device</h2>
          <p>If the device you have chosen to edit is a Kodi Device then you will see an additional option to change the IP address of your kodi device and the option to <i>Change the Default Transmit Period</i> is not there (not required).</p>
          <p>Push the Test Button to check the connection between the App and your Kodi Device. A green banner will appear on the screen if successful. If a red banner appears then no connection could be made; in this case check that:</p>
			<ul>
				<li>the Kodi Device is up, running and <a href="kodidevices.html#config">configured correctly</a>, 
				<li>the IP address is set correctly, </li>
				<li>the wifi on your Mobile/Tablet is turned on, and</li>
				<li>you are connected to the same local network as the Kodi Device. </li>
			</ul>
        </div>
        <div class="col-lg-5">
          <div class="row spacer2 d-none d-lg-block"></div>
          <p class="aligncenter"><img src="assets/images/editkodidevice.png" class="img-fluid img80" id="settings" alt=""></p>
        </div>
      </div>
	  
	  
      {% include usergnav.html %}
    </div>
