---
layout: default
title: AndyMOTE Project
---

<!-- INTRO & FEATURES-->
<div class="container content">
  <div class="row">
    <div class="col-lg-5">
       <img src="assets/images/phones.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-7">
      <!-- ICON -->
      <div class="container-fluid">
      {% include brand.html %}
      <div class="row">
        <!-- DESCRIPTION -->
        <div id="description"> <b>IMPORTANT NOTE:</b> You must build an <a href="server.html">AndyMOTE Server</a> for this App to work. </div>
        <!-- FEATURES -->
        <ul id="features">
          <li>'Remote Control' style interface</li>
          <li>Create Custom Macros</li>
          <li>Arrange 'Buttons' to your liking</li>
          <li>Use your own icons</li>
		  <li>Control Kodi devices</li>
		  <li>Line of sight: Not required</li>
		  <li>MQTT Support</li>
        </ul>
      </div>
      <!-- DOWNLOAD & REQUIREMENT BOX -->
      <div class="container-fluid">
        <div class="row">
          <div class="download-box col-md-6"> <a href="https://play.google.com/store/apps/details?id=com.andy.andymote"><img src="assets/images/android_app_on_play_logo_large.png" alt=""></a> </div>
          <div class="download-box col-md-6"> <strong>Requirements:</strong><br>Requires Android 5.0 Lollipop or higher and WiFi connection to server. <br></div>
        </div>
      </div>
    </div>   
  </div>

  <!-- ABOUT & UPDATES -->
  <div class="row-fluid" id="about">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="page-title"> About </h2>
        <p>The AndyMOTE App provides a single interface for multiple infra-red remote controls and/or a remote control style interface for kodi devices.</p>
        <p>The aim of AndyMOTE is to provide a fully customisable 'remote control' for controlling all devices used by any given 'activity' (eg Watch BluRay).</p>
        <p>For more information about the AndyMOTE App, see the <a href="userg.html">User Guide</a>.</p>
        <p>&copy; AndyMOTE is copyrighted by A.Bond Services (2019, 2020). All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 updates" id="updates">
        <h2 class="page-title"> Updates </h2>
        <!-- UPDATES & RELEASE NOTES -->
		<h3 class="version">Version 19.11.18</h3>
        <span class="release-date">Released on 2-Jan-2020</span>
        <ul>
          <li><span class="label label-info">NEW</span>MQTT Support</li>
        </ul>
		<h3 class="version">Version 19.11.15</h3>
        <span class="release-date">Released on 9-Nov-2019</span>
        <ul>
          <li><span class="label label-info">NEW</span>Native Kodi Interface</li>
        </ul>
		
		
		<div class="container">
			<a href="#moreinfo" class="btn btn-info" data-toggle="collapse">
				<span >More...</span>
			</a>
			<div id="moreinfo" class="collapse">
			    <div class="row spacer d-none d-lg-block"></div>
				<h3 class="version">Version 19.10.11</h3>
				<span class="release-date">Released on 24-Oct-2019</span>
				<ul>
				  <li><span class="label label-info">NEW</span>Prevent Crash on Start up</li>
				  <li><span class="label label-info">NEW</span>AndyMOTE now appears in Recent Apps view</li>
				  <li><span class="label label-info">NEW</span>No re-transmission of Start Sequence when return to app</li>
				</ul>
				<h3 class="version">Version 19.01.8</h3>
				<span class="release-date">Released on 10-Feb-2019</span>
				<ul>
					<li><span class="label label-info">NEW</span>Initial Release</li>
				</ul>
			</div>
		</div>
	 </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- SCREENSHOTS -->
        {% include screenshots.html %}
      </div>
      <div class="col-lg-6">
        <h2 class="page-title"> Contact Form </h2>
        <p>Please use this form to ask questions or report bugs with AndyMOTE.</p>
        <p>In the event you are reporting a bug please be sure to include details on the steps required to reproduce the problem, what happened and what you believe the correct behaviour should be.</p>
        <!-- CONTACT -->
        <iframe  src="https://abond.duckdns.org/contact/form.php" frameborder="0" id="contact-form"></iframe> 
      </div>
      <!--/div-->
    </div>
  </div>


</div>


