---
layout: default
title: AndyMOTE User Guide
---
    <div class="container content">
      {% assign prev_page = "Add Device" %}
      {% assign prev_href = "devices.html" %}
      {% assign next_page = "Edit Devices" %}
      {% assign next_href = "editdevice.html" %}
      {% include usergnav.html %}

      <div class="row">
        <div class="col-lg-7">
          <h2 class="page-title">Add Kodi Device</h2>
          <p>AndyMOTE can directly interface with Kodi Devices.</p>
          <p>You can add a Kodi device to AndyMOTE in the  <a href="devices.html">Add Device</a> view.</p>
          <p>In the <i>pre-configuration</i> dropdown; select <i>Kodi</i>. if you do this then the <a href="devices.html">Add Device</a> view Device name and icon will change, and the <i>Transmit Duration</i> and <i>Select Remote</i> views will disappear, to be replaced with the option to enter the IP Address of the Kodi Device you wish to add. You can enter your own name for the Kodi Device and/or <a href="changeicon.html">select the icon</a> you want to use by pressing the <i>Change Icon</i> button.</p>          
          <p>Once you have populated all the required fields in this view, a <i>Done</i> button will appear. Press this to complete the process.</p>
          <p>Pushing the <i>Back</i> button at any time will cancel the operation.</p>
		  <h2 id="config">Kodi Configuration</h4>
		  <p>In order for AndyMOTE to work with your Kodi device the latter must be configured as described below:
		  <h3> In Kodi v17 and above:</h3>
			<ul>
			  <li>Go to Settings->Services->Control;</li>
			  <li>Enable the setting Allow remote control via HTTP;</li>
			  <li>Ensure the Port number is set to 8080;</li>
			  <li>Ensure that the Username and the Password are empty;</li>
			  <li>Enable <b>Allow remote control from applications on this system</b></li>
			</ul>
        </div>
        <div class="col-lg-5">
          <div class="row spacer6 d-none d-lg-block"></div>
          <p class="aligncenter"><img src="assets/images/addkodidevice.png" class="img-fluid img80" id="settings" alt=""></p>
        </div>
      </div>
	  
	   <!-- KODI SUPPORTED COMMANDS -->
      <div class="row">
        <div class="col-lg-7 order-lg-12">
          <h2 class="page-title">Kodi: Supported Commands</h2>
          <p>The figure shows and example key layout for a kodi device representing all the kodi commands supported by AndyMOTE.</p>
          <p>The table below details the functions of each key in this layout.</p>
		  <table id="keytable">
            <tr>
              <th>Icon</th>
              <th>Key Function</th>
            </tr>
			<tr>
              <td><img src="assets/icons/kic_poweroff.png" width="32" height="32"></td>
              <td>Power Off</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_reboot.png" width="32" height="32"></td>
              <td>Reboot</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_osd.png" width="32" height="32"></td>
              <td>On Screen Display</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_home.png" width="32" height="32"></td>
              <td>Goto Home Screen</td>
            </tr>
			 <tr>
              <td><img src="assets/icons/kic_bigrew.png" width="32" height="32"></td>
              <td>Seek step backward 10min*</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_rew.png" width="32" height="32"></td>
              <td>Seek step backward 30sec*</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_play.png" width="32" height="32"></td>
              <td>Play</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_ff.png" width="32" height="32"></td>
              <td>Seek step forward 30sec*</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_bigfwd.png" width="32" height="32"></td>
              <td>Seek step forward 10min*</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_prev.png" width="32" height="32"></td>
              <td>Previous queued video</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_stop.png" width="32" height="32"></td>
              <td>Stop</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_playpause.png" width="32" height="32"></td>
              <td>Play/Pause</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_pause.png" width="32" height="32"></td>
              <td>Pause</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_next.png" width="32" height="32"></td>
              <td>Next queued video</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_pageup.png" width="32" height="32"></td>
              <td>Page Up</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_menu.png" width="32" height="32"></td>
              <td>Menu</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_up.png" width="32" height="32"></td>
              <td>Key Up</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_info.png" width="32" height="32"></td>
              <td>Info</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_volumeup.png" width="32" height="32"></td>
              <td>Volume Up</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_pagedown.png" width="32" height="32"></td>
              <td>Page Down</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_left.png" width="32" height="32"></td>
              <td>Key Left</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_ok.png" width="32" height="32"></td>
              <td>Select</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_right.png" width="32" height="32"></td>
              <td>Key Right</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_volumedown.png" width="32" height="32"></td>
              <td>Volume Down</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_codec.png" width="32" height="32"></td>
              <td>Display Codec Info</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_down.png" width="32" height="32"></td>
              <td>Key Down</td>
            </tr>
            <tr>
              <td><img src="assets/icons/kic_back.png" width="32" height="32"></td>
              <td>Back</td>
            </tr>			
          </table>
		   <p class="aligncenter"><b>* indicates kodi default setting</b></p>
        </div>
        <div class="col-lg-5">
          <div class="row spacer2 d-none d-lg-block"></div>
          <p class="aligncenter"><img src="assets/images/kodilayout.png" class="img-fluid img80" id="settings" alt=""></p>
		  <p class="aligncenter">Example Kodi Device Layout</p>
        </div>
      </div>
	  
      {% include usergnav.html %}
    </div>
