---
layout: default
title: AndyMOTE User Guide
---
    <div class="container content">
      {% assign prev_page = "Getting Started" %}
      {% assign prev_href = "start.html" %}
      {% assign next_page = "Settings" %}
      {% assign next_href = "settings.html" %}
      {% include usergnav.html %}

      <div class="row">
        <div class="col-lg-7">
            <h2 class="page-title">Main Screen</h2>
            <p>This screen is displayed when you first open the app.</p>
            <p>From here you can Navigate to the <a href="settings.html">Settings</a> view by clicking on the gear icon (&#9881;) at the top right corner of the screen.</p>
            <p>To open the <a href="navigation.html">Navigation view</a>, click on the menu icon (&#9776;) at the top left corner of the screen.</p>
        </div>
        <div class="col-lg-5">
          <p class="aligncenter"><img src="assets/images/01_mainScreen.png" class="img-fluid img80" id="mainScreen" alt=""></p>
        </div>
      </div>
      {% include usergnav.html %}
    </div>