---
layout: default
title: AndyMOTE Server
---

    <div class="container content">
      <div class="row">
        <div class="col-lg-5">
		   <br><br><br>
           <img src="assets/images/server.png" class="img-fluid" alt="">
		   <div class="spacer"></div>
		   <p align="center">Pi based Server</p>
        </div>
        <div class="col-lg-7">
          <!-- ICON -->
          <div class="container-fluid">
            {% include brand.html %}
            <!-- DESCRIPTION -->
            <row>
              <div id="description"> This article describes how to construct and configure a Raspberry Pi based AndyMOTE Server consisting of: </div>
              <!-- FEATURES -->
              <ul id="features">
                <li>RaspberryPi (Model 3B+ recommended)</li>
                <li><a target="_blank" href="https://energenie4u.co.uk/catalogue/product/ENER314-IR">Energenie ENER314-IR Infra Red Controller </a></li>
                <li>Micro SD Card (Class 10) (16GB)</li>
                <li>Raspberry Pi Power Supply</li>
                <li>(Optional) Case (eg: Pibow Zero W)</li>
                <li>(Optional) Infrared Remote Control Extender* (1 Receiver; 4 Transmitters)</li>
              </ul>
              <div id="description">*Requires USB Power</div>
            </row>
          </div>
        </div>
      </div>
    </div>

   {% include description.html %}



   <!-- HARDWARE STARTS HERE -->
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <h2 class="page-title">Before You Start</h2>
         <p><b>You will need a Monitor, a Keyboard and cables capable of connecting these items to your Raspberry Pi unless you intend to connect using ssh (see below)</b></p>
         <p>Download and <a target="_blank" href="https://www.raspberrypi.org/documentation/installation/installing-images/"> install </a>Raspian <a target="_blank" href="https://downloads.raspberrypi.org/raspbian_lite/images/raspbian_lite-2019-04-09/">Stretch-Lite</a> or Raspian <a target="_blank" href="https://downloads.raspberrypi.org/raspbian_lite/images/raspbian_lite-2019-09-30/">Buster-Lite</a> to your SD Card. <i><b>Note that this article  will not work with Raspian-Jessie. </b></i></p>
         <p>Once Raspian Lite is installed on your SD Card and before you move the card to your Raspberry Pi; mount the card on your PC. </p>
		 <p><b>If you wish to connect using ssh</b>, create an empty file <i>/boot/ssh</i> (this enables SHH on the server). You can also configure ethernet static addressing, at this stage, if desired, as described <a href="#ethsetup">below</a>.</p>
		 <p>Next, make the following edits to file <i>/boot/config.txt</i>:</p>
       </div>
       <div class="col-lg-6">
			<div class="row-fluid" id="codeblock">
			  # Set HDMI to Normal output<br>
			  hdmi_drive=2<br>
			  # Set HDMI to DMT Mode (sutable for Monitors)<br>
			  hdmi_group=2<br>
			  # Set Resolution to 800x600 @ 60hz<br>
			  hdmi_mode=9<br>
			  dtoverlay=lirc-rpi,gpio_in_pin=18,gpio_out_pin=17
			</div>
		</div>
		<div class="col-lg-12">
			<div class="spacer"></div>
			<p>The following settings might be better for you if using a tv to display:</p>
       </div>
       <div class="col-lg-6">
        <div class="row-fluid" id="codeblock">
            hdmi_force_hotplug=1<br>
			hdmi_group=1<br>
			hdmi_mode=16<br>
			hdmi_drive=2<br>
			hdmi_pixel_encoding=1<br>
			hdmi_ignore_edid=0xa5000080<br>
			config_hdmi_boost=7<br>
			disable_overscan=1 <br>
          dtoverlay=lirc-rpi,gpio_in_pin=18,gpio_out_pin=17<br>
        </div>
        <div class="spacer"></div>
			<p>For guidance on hdmi settings please visit <a href="https://www.raspberrypi.org/documentation/configuration/config-txt/video.md" target="_blank">here</a>.</p>      
       </div>
   </div>
  
   <!-- ASSEMBLY -->
   <div class="container">
     <div class="row">
         <div class="col-lg-5">
		   <br><br><br><br><br>
           <img src="assets/images/pi3.png" class="img-fluid" alt="">
		   <br><br>
		   <p align="center">Pi3 based Server</p>
        </div>
        <div class="col-lg-7"><div class="col-lg-12">
         <h2 class="page-title">Assembly</h2>
         <p>First, insert your pre-prepared SD Card into the Raspberry Pi.</p>
         <p>Put the Raspberry Pi into it's case. I had an issue that the ENER314-IR Infra Red Controller interfered with the Pibow case so did not use two of the pieces. Ensure that the LEDs on the ENER314-IR are not obstructed (Modify case if necessary)</p>
         <p>Next, plug the Energenie ENER314-IR Infra Red Controller into the Raspberry Pi (see picture).</p>
         <p>Then, connect the Raspberry Pi to keyboard (using USB connector) and monitor (using HDMI connector... Adapters may be necessary).</p>
         <p>Finally, power up and wait for the unit to boot.</p>
       </div>
     </div>
   </div>

   <div class="container">
     <div class="row">
		<div class="col-lg-12">
			<h2 class="page-title">Overclocking</h2>
			<p>If you are using a Raspberry Pi 1  you should overclock to Turbo setting.</p>
			<p>In a terminal on the Raspberry Pi, issue the command</p>
			<div class="col-lg-6">
				<div class="row-fluid" id="codeblock">
					$ sudo raspi-config<br>
				</div>
				<div class="spacer"></div>
			</div>
			<p>Select the option Overclock, a message informing you about the dangers of overclock appears</p>
			<p>Choose the Turbo option (1000MHz). A message informing you of the change appears</p>
			<p>Choose Finish, a message will ask you if you want to restart,</p>
			<p>Restart and wait for the unit to boot up.</p>
       </div>
     </div>
   </div>

   <!-- Set-up NETWORK -->
    {% include wifisetup.html %}
	{% include ethsetup.html %}

   <!-- Install LIRC -->
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <h2 class="page-title">Install LIRC</h2>
         <p>Update & upgrade your installation & install LIRC using the commands.</p>
       </div>
       <div class="col-lg-6">
         <div class="row-fluid" id="codeblock">
		   $ sudo apt update<br>
		   $ sudo apt -y upgrade<br>
           $ sudo apt -y install lirc<br>
         </div>
       </div>
       <div class="col-lg-12">
         <h3 class="page-title"><u>If you are installing on Raspian Buster</u></h3>
         <p>The installation of lirc (above) will fail. Don't panic. Do this.</p>
       </div>	   
       <div class="col-lg-6">
         <div class="row-fluid" id="codeblock">
		   $ sudo cp /etc/lirc/lirc_options.conf.dist /etc/lirc/lirc_options.conf<br>
         </div>
		 <div class="spacer"></div>
       </div>	   
		<div class="col-lg-12">
		 <p>Update the following lines in /etc/lirc/lirc_options.conf:</p>
	   </div>	
       <div class="col-lg-6">
         <div class="row-fluid" id="codeblock">
		    driver = default<br>
			device = /dev/lirc0<br>
         </div>
		 <div class="spacer"></div>
       </div>	
 		<div class="col-lg-12">
		 <p>Finish installation of LIRC (It should not error this time):</p>
	   </div>	
       <div class="col-lg-6">
         <div class="row-fluid" id="codeblock">
           $ sudo apt -y install lirc<br>
         </div>
		 <div class="spacer"></div>
       </div>
 		<div class="col-lg-12">
		 <p>Create file /etc/lirc/lircd.conf and make it look like this:</p>
	   </div>	
       <div class="col-lg-7">
         <div class="row-fluid" id="codeblock">
            # Populated config files can be found at http://sf.net/p/lirc-remotes. The<br>
			# irdb-get(1) and lirc-setup(1) tools can be used to search and download<br>
			# config files.<br>
			#<br>
			# From 0.9.2 config files could just be dropped as-is in the lircd.conf.d<br>
			# directory and be included by this file.<br>
			<br>
			include "lircd.conf.d/*.conf"<br>
         </div>
       </div>    
     </div>
   </div>

   <!-- Configure LIRC -->
    {% include configlirc.html %}

   <!-- Test The Receiver -->
    {% include test.html %}

   <!-- Add Remotes -->
   {% include addremotes.html %}

   <!-- Install AndyMOTE Server -->
    {% include server_install.html %}
	
	<!-- Install Mosquitto MQTT Server -->
    {% include mqtt_server_install.html %}
