   <div class="container">
     <div class="row">
       <div class="col-lg-6">
         <h2 class="page-title">AndyMOTE Server</h2>
         <p>The AndyMOTE Server connects to the AndyMOTE App through a local network as shown in the diagram. The Server also connects to an LIRC subsystem which provides the infra-red signals that control the devices in your system.</p>
         <p>An Infrared Remote Control Extender (eg: <a target="_blank" href="https://www.amazon.co.uk/Neoteck-Repeater-Infrared-Amplifier-Satellite/dp/B01HAV9JCQ">Neoteck IR Repeater</a>) allows you to hide away your server in a cabinet or behind your media system and control your devices without direct line of sight.</p>
       </div>
       <div class="col-lg-6">
         <img src="assets/images/system.png" class="img-fluid" id="system_diagram" alt="">
       </div>
     </div>
   </div>