   <div class="container">
     <div class="row">
	   <div class="col-lg-12">
         <h2 class="page-title">Install Mosquitto MQTT Server (Optional)</h2>
         <p>MQTT allows AndyMOTE to publish it's current activity state to other systems (for example <a href="https://www.home-assistant.io">Home Assistant</a>). </p>
		 <p>To install <a href="https://mosquitto.org">Mosquitto</a> do the following:</p>
		 <div class="col-lg-6">
			 <div class="row-fluid" id="codeblock">
			   $ sudo apt-add-repository ppa:mosquitto-dev/mosquitto-ppa<br>
			   $ sudo apt-get update<br>
			   $ sudo apt-get -y install mosquitto<br>
			   $ sudo apt-get -y install mosquitto-clients<br>
			 </div>
		</div>
		<div class="spacer"></div>
		<p>For more info read the <a href="mqtt.html">AndyMOTE manual</a>.</p>
       </div>
     </div>
   </div>