   <div class="container">
     <div class="row">
	   <div class="col-lg-12">
         <h2 class="page-title">Install Mosquitto MQTT Server (Optional)</h2>
         <p>MQTT allows andymote to publish it's current activity state to other systems (for example <a href="https://www.home-assistant.io">Home Assistant</a>). </p>
		 <p>To install Mosquitto do the following:</p>
		 <div class="col-lg-6">
			 <div class="row-fluid" id="codeblock">
			   $ sudo apt-add-repository ppa:mosquitto-dev/mosquitto-ppa
			   $ sudo apt-get update
			   $ sudo apt-get -y install mosquitto
			   $ sudo apt-get -y install mosquitto-clients
			 </div>
		</div>
       </div>
     </div>
   </div>