<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="page-title">Screenshots</h2>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/02_settings.png" class="img-fluid" alt="Settings">
      </div>
      <div class="carousel-item">
        <img src="assets/images/05_addDevice.png" class="img-fluid" alt="Add Device">
      </div>
      <div class="carousel-item">
        <img src="assets/images/08_selectCustomIcon.png" class="img-fluid" alt="Select Custom Icon">
      </div>
      <div class="carousel-item">
        <img src="assets/images/12_addActivity2.png" class="img-fluid" alt="Add Activity">
      </div>
      <div class="carousel-item">
        <img src="assets/images/16_editLayout.png" class="img-fluid" alt="Edit Layout">
      </div>
      <div class="carousel-item">
        <img src="assets/images/20_editCustomKey.png" class="img-fluid" alt="Edit Custom Key">
      </div>
      <div class="carousel-item">
        <img src="assets/images/23_editKeySeq3.png" class="img-fluid" alt="Edit Key Sequence">
      </div>
      <div class="carousel-item">
        <img src="assets/images/26_editKeySeq6.png" class="img-fluid" alt="Edit Key Sequence">
      </div>
	  <div class="carousel-item">
        <img src="assets/images/kodilayout.png" class="img-fluid" alt="Edit Key Sequence">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>





