
 /***** STRUCTURE *****/
 
 body { 
	background-color: #ddebff;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 21px;
	color: #333;
	}
	
h1, h2, h3, h4, h5, h6 {
	text-shadow: white 0.02em 0.02em;
	font-family: 'QlassikBold', sans-serif;
	}
	
h2 {
	font-size: 2.3em;
	line-height: 36px;
	margin: 0;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}

h3 {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

h4 {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}



p.pt25 {
        padding-top: 25px;
}
 
 .content {
	padding-top:100px;
	font-size: 1.1em;
	line-height: 1.8em;
	}
	
.content p {
	font-size: 1.0em;
	line-height: 1.8em;
	margin-bottom: 1.1em;
	}

/***** BODY *****/
	
.page-title {
	padding: 100px 0 30px 0;
	}
	
.arrow-top img {
	margin: -7px 0 0 15px;
	}


	
/***** NAVIGATION BAR *****/

.navbar .brand {
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown-menu {
  background-color: #333
}

.dropdown .dropdown-menu .dropdown-item, .dropdown .dropdown-menu .dropdown-item:hover{background-color: #333 !important;}




/***** CAROUSEL *****/

  #myCarousel {
      max-width: 432px;
  }

.carousel-control-prev-icon {
     background-image: url(../../assets/images/arrow-left.png);
     width: 32px;
     height: 32px;
}
 .carousel-control-next-icon {
     background-image: url(../../assets/images/arrow-right.png);
     width: 32px;
     height: 32px;
}

/***** HOMEPAGE *****/
	
#details {
	position: relative;
	float: right;
	width: 527px;
	margin-top: 80px;
	padding-left: 20px;
}

#icon {
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

#app-name {
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
        font-size: 60px;
	color: #ECECEC;
	text-shadow: -1px 0 #B3B3B3, 0 1px #B3B3B3, 1px 0 #B3B3B3, 0 -1px #B3B3B3, #020763 0.03em 0.03em;
	color: rgb(236, 236, 236);
	font-weight: 700;
	text-rendering: optimizelegibility;
	}
	
#version {
	top: 30px;
	position: relative;
	float: left;
}

#tagline {
	font-size: 0.9em;
        font-weight: bold;
        font-style: italic;
	clear: both;
}

#description {
	margin-top: 2em;
	margin-bottom: 1.8em;
}

#system_diagram {
	padding-top: 80px;
}

#features li {
	background: url('../../assets/images/check.png') no-repeat left;
	list-style: none;
	padding-left: 25px;
	margin-left: -23px;
	line-height: 1.7em;
}

#bullets {
        list-style-image: url('../../assets/images/bullet.png');
}

#bullet2 {
        list-style-image: url('../../assets/images/arrowright.png');
}

#codeblock {
    background: black;
    color: white;
    padding-left: 10px;
}

#corners {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px; 
  width: 275px;
}	

#keytable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#keytable td, #keytable th {
  border: 1px solid #ddd;
  padding: 4px;
}

#keytable tr:nth-child(even){background-color: #f2f2f2;}

#keytable tr:hover {background-color: #ddd;}

#keytable th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #3F51B5;
  color: white;
}



.download-box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 5%;
	font-size: 0.9em;
	line-height: 1.3em;
	}
	
	
	
/***** ABOUT PAGE *****/

.updates ul {
	list-style: none;
	padding-top: 10px;
	clear: both;
	margin: 0 0 25px 0;
	}
	
.updates ul li {
	margin-bottom: 10px;
	}
	
.updates hr {
	border-top: 1px solid #CCC;
	}
	
.updates .label {
	display: block;
	float: left;
	margin-right: 10px;
}

.version {
	float:left;
	}

.release-date {
	float:right;
	margin-top: 4px;
	color: #999;
	font-size: 0.85em;
	}
	
.new {
  background-color: #3a87ad;
  border-radius: 3px;
  padding: 1px 4px 2px;
  color: rgb(255, 255, 255);

}

.fix {
	background-color: #468847;
	padding: 1px 8px 2px;
	}
	

	
/***** CONTACT *****/

#contact-form {
	border-left: 1px solid #cccccc;
	}
	
#contact-info {
	padding-bottom:20px;
	}
	
.form-sec{background:#ccc; padding:15px;
    background: #f8f9fa;padding: 15px;box-shadow: 0 0 4px #ccc;}	
	
/***** FOOTER *****/

.footer {
	font-size: 0.85em;
	line-height: 1.5em;
	padding: 15px 15px 15px;
	border-top: 1px solid #CCC;
}

.spacer {
	padding: 15px 0;
}

.spacer2 {
        padding: 30px 0;
}

.spacer3 {
        padding: 45px 0;
}

.spacer4 {
        padding: 60px 0;
}
.spacer5 {
        padding: 75px 0;
}
.spacer6 {
        padding: 90px 0;
}


	

/***** SIDE NAV BASR FOR MANUAL ******/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a.submenu {
  padding: 0px 0px 0px 32px;
  margin-left: 25px;
  font-size: 20px;
}

.img80 {
  width: 80%;
}

.img350 {
  width: 350px;
}
.aligncenter {
    text-align: center;
}
.container-centred {
  margin: auto;
}

